<!-- <h1 class="text">Hello Cybersoft</h1> -->

<!-- <app-demo></app-demo> -->

<!-- Bài tập 1 -->
<!-- <app-header></app-header>
<div class="wrapper">
  <div class="left">
    <app-content></app-content>
  </div>
  <div class="right">
    <app-sidebar></app-sidebar>
  </div>
</div>
<app-footer></app-footer> -->

<!-- <app-baitap2></app-baitap2> -->

<!-- <app-baitap1-new></app-baitap1-new> -->

<!-- <app-baitap4></app-baitap4> -->

<!-- <app-structural-directive></app-structural-directive> -->

<!-- <app-attribute-directive></app-attribute-directive> -->

<app-baitap6></app-baitap6>

<h1>Hello World!!!</h1>